<div class="nav">
	<ul class="nav nav-pills">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Profile</a></li>
	  <li><a href="#">Messages</a></li>	

 		<ul class="nav navbar-nav navbar-right">
 			<li><a href="https://twitter.com/TomGroombridge"><img src="/img/twitter_alt.png"></a></li>
 			<li><a href="http://www.linkedin.com/profile/view?trk=nav_responsive_tab_profile_pic&id=304908361"><img src="/img/linkedin_alt.png"></a></li>
 			<li><a href="https://github.com/TomGroombridge"><img src="/img/github_alt.png"></a></li>
		</ul>

	</ul>
</div>


	<div class="container">
		<div class="row">			
      <img src="/img/gravatar.jpeg" class="img-circle profile" >
	  </div> 
	</div>

	  <div class="row">
	  	<div class="name">
	  		<h1>Tom Groombridge</h1>
	  	</div>
	  </div>
</div>

		<div class="aboutme">
			<div class="name">
	  		<h1>Experience</h1>
			</div>
		</div>	


	<div class="container">
		<div class="aboutme" style="margin-top:-50px; background:rgba(255, 255, 255, 0.8); border-radius:5px">
		<div class="name">
	  		<p> I am a web developer in London</p>
	  		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
	 	</div>
	 </div>
	</div>






		<div class="aboutme">
			<div class="name">
	  		<h1>Projects</h1>
			</div>
		</div>	

<div class="container">
	<div class="aboutme" style="margin-top:-50px; background:rgba(255, 255, 255, 0.8); border-radius:5px">
		<div class="name">
    	<div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="post">
            <div class="post-img-content">
              <img src="/img/christagram.jpg" class="img-responsive" style=" display:block; margin-left:auto; margin-right:auto; padding-bottom:15px"/>
              <span class="post-title"><b>Christagram</b></span>
            </div>
            <div class="content">
              <div class="author">
                <b><time datetime="2014-01-20">January 20th, 2014</time></b>
              </div>
              <div>
                <a href="http://alexpeattie.com/">Alex Peattie</a> set us the task of making an instagram clone with ruby on rails. I used paperclip to upload the photographs and stored them on AWS. You can sign up to the site with an e-mail address or log in using Facebook. I used the Omniauth gem for facebook log in. Christagram is <a href="http://christagram.herokuapp.com/">online here</a> check it out!
              </div>
            		<div>
             		 <a href="https://github.com/TomGroombridge/christagram" class="btn btn-warning btn-sm">Read code!</a>
                </div>
            </div>
          </div>
        </div>
       		<div class="col-sm-4 col-md-4">
            <div class="post">
              <div class="post-img-content">
                <img src="/img/books2.jpg" class="img-responsive" />
                <span class="post-title"><b>Dog Eared Pages</b></span>
              </div>
                <div class="content">
                  <div class="author">
                    <b><time datetime="2014-01-20">January 20th, 2014</time></b>
                  </div>
                		<div>
                       A site to share your favorite three books with Twitter. I used the Amazon and Twitter API's to get the data i needed and built a great looking mobile page with swipe control. an version control.
											The site is up and running and on the first day it was visited by over 300 people on the first day! Why not <a href="http://www.dogearedpages.me/">Give it a go!.</a>
                    </div>
                			<div>
                        <a href="https://github.com/TomGroombridge/book_project" class="btn btn-warning btn-sm">Read code</a>
                    	</div>
                	</div>
            	</div>
        		</div>
        			<div class="col-sm-4 col-md-4">
            		<div class="post">
                	<div class="post-img-content">
                    <img src="/img/sudoku.jpeg" class="img-responsive" style="display:block; margin-right:auto; margin-left:auto; padding-bottom:30px;" />
                    <span class="post-title"><b>Sudoku</b></span>
                	</div>
                		<div class="content">
                    	<div class="author">
                       	<b><time datetime="2014-01-20">January 20th, 2014</time></b>
                    	</div>
                    		<div>
                        	I was challenged by <a href="https://github.com/ecomba?source=cc">Enrique Comba Riepenhausen</a> to make a sudoku game written in ruby and built on the Sinatra framework. The app generates a random Sudoku which allows you to input the missing number, if you input the wrong number it highlights yellow. <a href="http://powerful-dawn-1640.herokuapp.com/">Click here!</a> to give it a go!
                    		</div>
                    			<div>
                       			<a href="https://github.com/TomGroombridge/Sudoku-Web-Version" class="btn btn-warning btn-sm">Read code</a>
                   				</div>
               		 	</div>
            		</div>
       				</div>
   			</div>
			</div>
		</div>
	</div>